[Unit]
Description=CrowdSec bouncer for cloudflare
After=syslog.target crowdsec.service

[Service]
Type=notify
ExecStart=${BIN} -c ${CFG}crowdsec-cloudflare-bouncer.yaml

[Install]
WantedBy=multi-user.target