[Unit]
Description=CrowdSec bouncer for cloudflare
After=syslog.target crowdsec.service

[Service]
Type=simple
ExecStart=${BIN} -c ${CFG}/crowdsec-cloudflare-bouncer.yaml
ExecStartPre=${BIN} -c ${CFG}/crowdsec-cloudflare-bouncer.yaml -t
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
